<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrix.webserver.model.mapper.GhDataMapper">
    <!--查询逻辑-->
    <!--当日挂号数-->
    <select id="get_gh_count" resultType="int">
        SELECT
            count( 1 )
        FROM
            gh_data_table
        WHERE
            /*cancel_sign = '否'
	        AND receive_sign = '否'
	        AND DATE( gh_createTime ) = CURDATE()*/
            DATE( gh_createTime ) = CURDATE();
    </select>
    <!--当日挂号具体患者-->
    <select id="get_current_day_gh" resultType="CurrentDayGhInfo">
        SELECT
            gh_data_table.gh_number,
            gh_data_table.expense_type,
            gh_data_table.gh_type,
            gh_data_table.patient_id,
            patient_info_table.patient_name,
            gh_data_table.gh_createTime,
            /*DATE(gh_data_table.gh_createTime) as gh_createTime,*/
            gh_data_table.gh_department,
            gh_data_table.cancel_sign,
            gh_data_table.gh_fee_sign,
            gh_data_table.receive_sign
        FROM
            gh_data_table
            INNER JOIN patient_info_table ON gh_data_table.patient_id = patient_info_table.patient_id
        WHERE
            gh_data_table.expired_sign = '是'
          AND DATE( gh_data_table.gh_createTime ) = CURDATE();
    </select>

    <!--插入逻辑-->
    <insert id="gh_add" parameterType="java.util.Map">
        INSERT INTO gh_data_table
            (gh_number,gh_type,insurance_type,expense_type,patient_id,operator_account,
             gh_createTime,gh_department,receive_physician,exigency_sign,repeated_sign)
        VALUES
            (#{gh_number},#{gh_type},#{insurance_type},#{expense_type},#{patient_id},#{operator_account},
             #{gh_createTime},#{gh_department},#{receive_physician},#{exigency_sign},#{repeated_sign});
    </insert>

    <!--Update逻辑-->
    <update id="cancel_regis" parameterType="java.util.Map">
        UPDATE backservice.gh_data_table
        SET cancel_sign = '是',
            cancel_operator = #{cancel_operator},
            cancel_time = #{cancel_time}
        WHERE
            gh_number = #{gh_number}
          AND cancel_sign = '否';
    </update>
</mapper>