<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrix.webserver.model.mapper.PatientInfoMapper">
    <!--查询逻辑-->
    <select id="queryPatient" parameterType="String" resultType="PatientInfo">
        SELECT
            patient_id,
            patient_name,
            patient_gender,
            patient_idCard,
            patient_birth,
            create_time,
            patient_nationality,
            patient_nativePlace,
            patient_nation,
            patient_occupation,
            patient_maritalStatus,
            patient_phone,
            CONCAT(patient_age,patient_age_units) as patient_age,
            poverty_sign,
            patient_emergencyContact,
            patient_relationship,
            patient_contactPhone,
            patient_homeAddress,
            patient_workAddress,
            nowAddress_province,
            nowAddress_town,
            nowAddress_prefecture,
            child_sign,
            guardian_name,
            guardian_idCard,
            guardian_phone
        FROM
            patient_info_table
        WHERE
            (patient_name =#{keyParam})
           OR (patient_idCard =#{keyParam});
    </select>
    <!--近2月内注册的信息-->
    <select id="query_near_two_month_patients" resultType="PatientView">
        SELECT
            patient_info_table.patient_name,
            patient_info_table.patient_idCard,
            patient_info_table.patient_birth,
            patient_info_table.patient_age,
            patient_info_table.patient_gender,
            patient_info_table.patient_occupation,
            patient_info_table.patient_nation,
            /*patient_info_table.create_time,*/
            DATE(patient_info_table.create_time) as create_time,
            patient_info_table.patient_phone,
            patient_info_table.patient_homeAddress,
            patient_info_table.patient_maritalStatus,
            patient_info_table.poverty_sign,
            patient_info_table.patient_emergencyContact,
            patient_info_table.patient_relationship,
            patient_info_table.patient_contactPhone
        FROM
            patient_info_table
        WHERE
            DATE( patient_info_table.create_time ) >= CURDATE() - INTERVAL 2 MONTH
        ORDER BY patient_info_table.create_time DESC;
    </select>

    <!--插入逻辑-->
    <insert id="regis_patient" parameterType="java.util.Map">
        INSERT INTO patient_info_table (
            patient_id,
            patient_name,
            patient_gender,
            patient_idCard,
            patient_birth,
            create_time,
            patient_nationality,
            patient_nativePlace,
            patient_nation,
            patient_occupation,
            patient_maritalStatus,
            patient_phone,
            patient_age,
            patient_age_units,
            poverty_sign,
            patient_emergencyContact,
            patient_relationship,
            patient_contactPhone,
            patient_homeAddress,
            patient_workAddress,
            nowAddress_province,
            nowAddress_town,
            nowAddress_prefecture,
            child_sign,
            guardian_name,
            guardian_idCard,
            guardian_phone
        )
        VALUES
        (#{patient_id},#{name},#{gender},#{idCard},#{birth},#{create_time},#{nationality},#{nativePlace},#{nation},#{occupation},
         #{maritalStatus},#{phone},#{age},#{age_units},#{poverty_sign},#{emergencyContact},#{emergencyContact_relationship},
          #{contactPhone},#{homeAddress},#{workAddress},#{nowAddress_province},#{nowAddress_town},#{nowAddress_prefecture}
          ,#{child_sign},#{guardian_name},#{guardian_idCard},#{guardian_phone});
    </insert>

    <!--更新Update逻辑-->
    <update id="update_PatientInfo" parameterType="java.util.Map">
        UPDATE patient_info_table
        SET
            patient_gender=#{gender},
            patient_birth=#{birth},
            patient_nationality=#{nationality},
            patient_nativePlace=#{nativePlace},
            patient_nation=#{nation},
            patient_occupation=#{occupation},
            patient_maritalStatus=#{maritalStatus},
            patient_phone=#{phone},
            patient_age=#{age},
            patient_age_units=#{age_units},
            poverty_sign=#{poverty_sign},
            patient_emergencyContact=#{emergencyContact},
            patient_relationship=#{emergencyContact_relationship},
            patient_contactPhone=#{contactPhone},
            patient_homeAddress=#{homeAddress},
            patient_workAddress=#{workAddress},
            nowAddress_province=#{nowAddress_province},
            nowAddress_town=#{nowAddress_town},
            nowAddress_prefecture=#{nowAddress_prefecture},
            child_sign=#{child_sign},
            guardian_name=#{guardian_name},
            guardian_idCard=#{guardian_idCard},
            guardian_phone=#{guardian_phone}
        WHERE
            patient_name=#{name} and patient_idCard=#{idCard};
    </update>
</mapper>