<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrix.webserver.model.mapper.PatientInfoMapper">
    <!--查询逻辑-->
    <select id="queryPatient" parameterType="String" resultType="PatientInfo">
        SELECT
            patient_id,
            patient_name,
            patient_gender,
            patient_idCard,
            patient_birth,
            create_time,
            patient_nationality,
            patient_nativePlace,
            patient_nation,
            patient_occupation,
            patient_maritalStatus,
            patient_phone,
            patient_age,
            poverty_sign,
            patient_emergencyContact,
            patient_relationship,
            patient_contactPhone,
            patient_homeAddress,
            patient_workAddress,
            nowAddress_province,
            nowAddress_town,
            nowAddress_prefecture,
            child_sign,
            guardian_name,
            guardian_idCard,
            guardian_phone
        FROM
            patient_info_table
        WHERE
            (patient_name =#{keyParam})
           OR (patient_idCard =#{keyParam});
    </select>
    <!--近2月内注册的信息-->
    <select id="query_near_two_month_patients" resultType="PatientView">
        SELECT
            patient_info_table.patient_name,
            patient_info_table.patient_idCard,
            patient_info_table.patient_birth,
            patient_info_table.patient_age,
            patient_info_table.patient_gender,
            patient_info_table.patient_occupation,
            patient_info_table.patient_nation,
            /*patient_info_table.create_time,*/
            DATE(patient_info_table.create_time) as create_time,
            patient_info_table.patient_phone,
            patient_info_table.patient_homeAddress,
            patient_info_table.patient_maritalStatus,
            patient_info_table.poverty_sign,
            patient_info_table.patient_emergencyContact,
            patient_info_table.patient_relationship,
            patient_info_table.guardian_phone
        FROM
            patient_info_table
        WHERE
            DATE( patient_info_table.create_time ) >= CURDATE() - INTERVAL 2 MONTH;
    </select>
</mapper>