<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link type="text/css" rel="stylesheet" href="css/server_styles.css">
    <link type="text/css" rel="stylesheet" media="print" href="css/print.css">
    <!--CDN图标库-->
    <link type="text/css" href="css/font-awesome.min.css" rel="stylesheet">

    <link href="css/JqueryUi_1.13.3/jquery-ui.min.css" rel="stylesheet">
    <!--数据表样式-->
    <link href="css/jqgrid/ui.jqgrid.css" rel="stylesheet">
</head>
<body>
<div class="wrap" id="main-bar">
    <div class="nav">
        <!--头像和昵称-->
        <div class="icon">
            <!--                <div class="icon-img"><img th:src="${null?:'/img/default.jpg'}" alt="" id="handImage"/></div>-->
            <div class="icon-img matrix-dropdown">
                <img th:src="${null?:'/img/default.jpg'}" alt="" id="handImage"/>
                <div class="matrix-dropdown-menu" aria-labelledby="dropdownMenuButton" hidden>
                    <li><a class="matrix-dropdown-item" href="#">修改头像</a></li>
                    <li><a class="matrix-dropdown-item" href="#">个人信息</a></li>
                    <li><a class="matrix-dropdown-item" href="#">安全退出</a></li>
                    <!-- 其他菜单项 -->
                </div>
            </div>
            <div class="icon-con">
                <p>您好！</p>
                <h2 class="primary-text" id="uName" th:text="${null?:'Admin'}"></h2>
            </div>
        </div>
        <div class="line"></div>
        <div id="main-bar-menu">
            <!--使用JQuery动态加载导航栏菜单-->
        </div>
    </div>

    <div class="main-sub-view">
        <div class="main-sub-child-body">

        </div>
    </div>
</div>

<script type="application/javascript" src="js/jquery-3.7.1.min.js"></script>
<!--加载导航栏-->
<script type="application/javascript" src="js/initMainBar.js"></script>
</body>
</html>