<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link type="text/css" rel="stylesheet" href="css/server_styles.css">
    <!--CDN图标库-->
    <link type="text/css" href="css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<!--    <header>-->
<!--        <h1>欢迎来到-门户网站</h1>-->
<!--    </header>-->
<!--    <div id="back-snow" class="back-snow">-->
<!--        <script type="text/javascript" src="js/particles.js"></script>-->
<!--        <script type="text/javascript" src="js/app.js"></script>-->
<!--        &lt;!&ndash;CDN图标库&ndash;&gt;-->
<!--        <link type="text/css" href="css/font-awesome.min.css" rel="stylesheet">-->
<!--    </div>-->
    <div class="wrap" id="main-bar">
        <div class="nav">
            <!--头像和昵称-->
            <div class="icon">
<!--                <div class="icon-img"><img th:src="${null?:'/img/default.jpg'}" alt="" id="handImage"/></div>-->
                <div class="icon-img matrix-dropdown">
                    <img th:src="${null?:'/img/default.jpg'}" alt="" id="handImage"/>
                    <div class="matrix-dropdown-menu" aria-labelledby="dropdownMenuButton" hidden>
                        <li><a class="matrix-dropdown-item" href="#">修改头像</a></li>
                        <li><a class="matrix-dropdown-item" href="#">个人信息</a></li>
                        <li><a class="matrix-dropdown-item" href="#">安全退出</a></li>
                        <!-- 其他菜单项 -->
                    </div>
                </div>
                <div class="icon-con">
                    <p>您好！</p>
                    <h2 class="primary-text" id="uName" th:text="${null?:'Admin'}"></h2>
                </div>
            </div>

            <div class="line"></div>
            <div id="main-bar-menu">
                <!--使用JQuery动态加载导航栏菜单-->
            </div>
        </div>

        <!-- 首页内容 -->
        <div class="main-sub-view">
            <div class="main-sub-child-title">
                <button class="matrix-button">患者注册</button>
                <button class="matrix-button">窗口挂号</button>
                <button class="matrix-button">预约挂号</button>
                <button class="matrix-button">信息修正</button>
                <button class="matrix-button">医保信息</button>
                <button class="matrix-button">患者注册</button>
                <button class="matrix-button">窗口挂号</button>
                <button class="matrix-button">预约挂号</button>
                <button class="matrix-button">信息修正</button>
            </div>
            <div class="main-sub-child-body">
                <label>测试内容</label>
            </div>
        </div>
    </div>
<script type="text/javascript" src="js/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="js/initMainBar.js"></script>
<script type="text/javascript" src="js/indexHandel.js"></script>
</body>
</html>