<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登录&注册</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/server_styles.css">
</head>

<body>
<div class="main-back">
    <!--背景雪花布局-->
    <div id="back_snow" class="back-snow">
        <script type="text/javascript" src="js/commons/particles.js"></script>
        <script type="text/javascript" src="js/commons/app.js"></script>
    </div>

    <!--登录、注册布局-->
    <div class="cont">
        <div class="form sign-in">
            <h2>登录</h2>
            <label>
                <span>请输入账户</span>
                <input class="global-input" type="text" name="account" id="account">
            </label>
            <label>
                <span>请输入密码</span>
                <input class="global-input" type="password" name="password" id="password">
            </label>
            <!--登录按钮-->
            <button class="main-button submit-global" type="button" id="login-btn">登录</button>
            <div>
                <p class="forgot-pass">忘记密码？</p>
                <a href="" id="login"></a>
            </div>
            <!--登录方式-->
            <div class="social-medie">
                <ul>
                    <li><img src="./img/QQ-circle-fill.png"></li>
                    <li><img src="./img/wechat-fill.png"></li>
                </ul>
            </div>
        </div>
        <!--跳转注册提示-->
        <div class="sbu-cont">
            <div class="img" id="img">
                <div class="img-text m-up">
                    <h2>未拥有账户？</h2>
                    <p>如果您尚未拥有账户，请前往注册!</p>
                </div>
                <div class="img-text m-in">
                    <h2>已拥有账户？</h2>
                    <p>如果您已拥有账户，请前往登录!</p>
                </div>
                <div class="img-btn">
                    <span class="m-up">注册</span>
                    <span class="m-in">登录</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>注册</h2>
                <div>
                    <label>
                        <span>账户</span>
                        <input class="global-input" type="text" id="re_account">
                    </label>
                    <label>
                        <span>密码</span>
                        <input class="global-input" type="password" id="re_password">
                    </label>
                    <label>
                        <span>密码验证</span>
                        <input class="global-input" type="password" id="re_confirm_pass">
                    </label>
                    <label class="checkbox" for="agreement">
                        <input type="checkbox" id="agreement" name="agreement" required>
                        <span>我已阅读并同意注册协议</span>
                    </label>
                </div>
                <button class="main-button submit-regis" type="button" id="register-btn">注册</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/commons/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="js/login/loginScript.js"></script>

</body>

</html>