/*定义颜色动画*/
@keyframes bgAnimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/*定义关闭,开启动画*/
@keyframes open {
    0% {
        /*top: -100vh;*/
        left: -100%;
    }
    100% {
        /*top: 0;*/
        left: 0;
    }
}
@keyframes close {
    0% {
        /*top: 0;*/
        left: 0;
        visibility: visible;
    }
    100% {
        /*top: 100vh;*/
        left: 100%;
        visibility: visible;
    }
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.6);
}
.wrap{
    width: 100vw;
    height: 100vh;
    /*内容水平、垂直居中显示、flex布局*/
    /*background: url(../img/background_1.png) center no-repeat;*/
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;/*靠左显示*/
    flex-direction: row; /* 明确指定行方向 */
    overflow: hidden; /* 隐藏任何溢出的内容 */
}
.nav{
    width: 110px; /* 占据整个视口宽度:width: 100vw*/
    height: 100vh; /* 视口高度的 100%:height: 100vh*/
    background: rgba(27, 27, 27, 0.712);
    border-radius: 6px;
    overflow: hidden;
    transition: 0.5s;
    position: fixed; /* 始终在屏幕上可见,使用fixed定位 */
    left: 0; /* 使用了fixed定位,需要设置水平位置 */
    top: 0;
    z-index: 10; /* 确保 nav 在其他元素之上 */
}
.nav:hover{
    width: 240px;
}
.btn{
    width: 60px;
    height: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    margin-top: 25px;
}
.btn-item{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.btn-item:nth-child(1){
    background:#eb5a56;
}
.btn-item:nth-child(2){
    background:#f8bc33;
}
.btn-item:nth-child(3){
    background:#62cb44;
}
.icon{
    width: 250px;
    height: 60px;
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
}
.icon-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
}
.icon-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.icon-con{
    height: 60px;
    margin-left: 25px;
}
.icon-con p{
    padding: 5px;
}
.icon-con h2{
    font-weight: 400;
}
.line{
    width: 60px;
    height: 1px;
    background: rgba(245, 253, 255, 0.5);
    margin:20px 25px;
    transition: 0.5s;
}
.nav:hover .line{
    width: 190px;
}
.title{
    width: 60px;
    margin-left: 25px;
    margin-bottom: 20px;
}
.title p{
    font-size: 14px;
}
.menu{
    width: 190px;
    margin-left: 25px;
}
.item{
    display: flex;
    position: relative;
    transition: 0.5s;
    border-radius: 6px;
}
.item:hover{
    background: rgb(17, 143, 238);
}
.l-icon{
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con{
    width: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    opacity: 0;
    left: -20px;
}
.nav:hover .con{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.r-icon{
    width: 0;
    height: 50px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
}
.nav:hover .r-icon{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.iconfont{
    font-size: 60px;
}
.r-icon .iconfont{
    font-size: 20px;
    color: #62cb44;
}
.light{
    width: 6px;
    height: 50px;
    background: #eb5a56;
    position: absolute;
    left: -25px;
    transition: 0.5s;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
}
.item:hover .light{
    opacity: 1;
}
.server{
    width: 60px;
    background: rgba(0, 0, 0, 0.45);
    margin-left: 25px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.nav:hover .server{
    width: 190px;
}
/*取消链接下划线*/
a{
    text-decoration: none;
}

.main-back{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-snow {
    background: #262626 url(../img/background_1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    position:absolute;
    z-index: -1;
}
.main-sub-view {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    padding-left: 112px; /* 在左边添加内边距 */
    box-sizing: border-box; /* 确保padding不会增加元素宽度 */
    flex-direction: column; /* 明确指定为垂直布局 */
    background: white;/*rgba(27, 27, 27, 0.6)*/
    overflow: hidden;
}
.main-sub-child-title{
    width: 100%;
    height: 42px;/*60px*/
    background: #57aaff;
    border-radius: 2px;
    margin-top: 0;
    display: flex; /* 添加 flex 布局 */
    align-items: center; /* 垂直居中内容*/
    justify-content:flex-start; /* 水平分布内容 center,space-between*/
}
.main-sub-child-body{
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;/*防止子布局使用:absolute时超过边界*/
    flex-wrap: wrap; /* 根据需要设置是否换行 */
}
.main-sub-child-title,
.main-sub-child-body {
    margin-bottom: 2px;
}
.main-sub-view .main-sub-child-body:last-child {
    margin-bottom: 0; /* 移除最后一个子元素的底部间距 */
}

/*页面切换*/
.page-view {
    width: 100%;
    height: 100vh;
    background: var(--view-back);
    position: absolute;
    box-sizing: border-box;
}
.open {
    visibility: visible;
    animation: ease 0.5s open;
}
.close {
    visibility: hidden;
    animation: ease 0.5s close;
}
.sub-btn-view{
    width: 100%;
    height: 32px;
    background: #57aaff;
    border-radius: 2px;
    margin-top: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    /*margin-left: 2px;*/
}
.sub-child-body{
    width: 100%;
    height: 100vh;
    background: white;
    margin-top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.info-view,
.other-view{
    background: #d0f5ca;
    margin-top: 1px;
    box-sizing: border-box;
    display: flex;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    overflow:auto;
}
.info-view{
    width: 100%;
    /*height: 50%;*/
    border:1px solid #0c0101;
    min-height: 260px;
}
.other-view{
    /* flex-grow设置为1,使其占据剩余空间 */
    flex-grow: 1;
}
.other-view-child{
    margin: 4px 0;
}
/*自定义滚动条*/
.info-view::-webkit-scrollbar {
    width: 10px; /* 滚动条的宽度 */
    border-radius: 6px;
}
.info-view::-webkit-scrollbar-track {
    background: #d1dbd1; /* 滚动条轨道的颜色 */
}
.info-view::-webkit-scrollbar-thumb {
    background: #4d94ff; /* 滚动条滑块的颜色 */
}
.info-view::-webkit-scrollbar-thumb:hover {
    background: #347e34; /* 滚动条滑块在鼠标悬停时的颜色 */
}
.other-view::-webkit-scrollbar {
    width: 10px;
    border-radius: 6px;
}
.other-view::-webkit-scrollbar-track {
    background: #d1dbd1;
}
.other-view::-webkit-scrollbar-thumb {
    background: #0053c6;
}
.other-view::-webkit-scrollbar-thumb:hover {
    background: #347e34;
}


/* 下拉菜单触发器样式 */
.matrix-dropdown-toggle {
    /* 样式化按钮，如背景色、边框、字体等 */
    position: relative;
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
}
/* 下拉菜单样式 */
.matrix-dropdown-menu {
    width: 100px;
    left: 4px;
    /* 样式化菜单容器，如背景色、边框、阴影等 */
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #9b9b9b;
    padding: 10px;
    list-style: none;
    margin: 0;
    /* 隐藏菜单，直到触发器被点击 */
    position: absolute;
    z-index: 1000;
    border-radius: 6px;
}
.matrix-dropdown-menu li {
    background: white;
    border-radius: 6px;
    /* 添加间距 */
    margin-bottom: 2px; /* 在列表项之间添加垂直间距 */
    /* 如果你还需要水平间距，可以添加 margin-left 和 margin-right */
}
.matrix-dropdown-menu li:last-child {
    /* 移除最后一个列表项的下边距，以避免额外的间距 */
    margin-bottom: 0;
}
.matrix-dropdown-menu li:hover {
    background: #57aaff;
}
.matrix-dropdown-item {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    /* 其他样式... */
}
/* 可选：添加动画效果 */
.matrix-dropdown-menu[hidden] {
    display: none;
}
.matrix-dropdown-menu {
    /* 动画效果，如淡入淡出 */
    transition: opacity 0.3s ease;
}
.input-rm-bg{
    border: none;
    outline: none;
}
.global-input,
.main-button{
    border: none;
    outline: none;
    background: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.global-input{
    display: block;
    /*width: 100%;*/
    margin-top: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    padding-bottom: 5px;
}
.global-input{
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}
.main-button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.big-large-input{
    width: 128px;
}
.large-input{
    width: 86px;
}
.medium-input{
    width: 64px;
}
.short-input{
    width: 32px;
}
/* 输入框下方显示选项列表的容器样式 */
#dropdown-select-container {
    position: relative;
    display: inline-block;
}
/* 输入框的样式 */
#dropdown-select-input {
    width: 68px; /* 根据需要调整宽度 */
}
/* 模拟下拉列表选项的样式 */
.dropdown-option {
    display: none; /* 默认隐藏 */
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    margin-top: 2px;
    cursor: pointer;
}
/* 选中时的样式 */
.dropdown-option.active {
    display: block;
}

.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background:linear-gradient(125deg,#7377e7,#455de7,#4499fa,#f373f3,#b224ef);
    background-size: 500%;
    animation: bgAnimation 15s linear infinite;
}
.form {
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.form {
    transition: transform 1.2s ease-in-out;
}
.form {
    transition: transform 1.2s ease-in-out;
}
h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
}
label {
    width: 260px;
    margin: 25px auto;
    text-align: center;
    display: block;
}
label span {
    font-size: 14px;
    font-weight: 600;
    color: #2c255e;
    text-transform: uppercase;
}
.submit-global {
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
}
.submit-regis {
    margin-top: 4px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 600;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
}

.submit:hover {
    background: -webkit-linear-gradient(left, #b224ef, #7579ff);
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
}

.forgot-pass:hover {
    color: blue;
}

.social-medie {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.social-medie ul {
    list-style: none;
}

.social-medie ul li {
    display: inline-block;
    margin: 25px 15px;
    cursor: pointer;
}

.social-medie img {
    width: 40px;
    height: 40px;
}

.sbu-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    /*background: #fff;*/
    background:linear-gradient(125deg,#7377e7,#455de7,#4499fa,#f373f3,#b224ef);
    background-size: 500%;
    animation: bgAnimation 15s linear infinite;

    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
}

.sbu-cont {
    transition: -webkit-transform 1.2s ease-in-out;
}

.cont.s-signup .sbu-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url(../img/background_1.png);
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.cont.s-signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.img-text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img-text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img-text p {
    font-size: 14px;
    line-height: 1.5;
}

.cont.s-signup .img-text.m-up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}

.img-text.m-in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}

.cont.s-signup .img-text.m-in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.sign-in {
    padding-top: 65px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.cont.s-signup .sign-in {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.img-btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img-btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
    left: 0;
    top: 0;
}

.img-btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}

.img-btn span {
    transition: transform 1.2s;
}

.img-btn span.m-in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

.img-btn span.m-up {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

/**动画切换**/
.cont.s-signup .img-btn span.m-up {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

.cont.s-signup .img-btn span.m-in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.cont.s-signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
}

.product-item-spacing {
    margin-top: 10px; /* 上间隔 */
    margin-bottom: 10px; /* 下间隔 */
}

.product-image {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    padding: 15px;
}

.product-info h3 {
    margin-bottom: 10px;
}

.product-info .price {
    font-weight: bold;
    color: #f56c6c;
}

.product-info .add-to-cart {
    margin-top: 10px;
}
.btn-disable {
    color: #94948f;
}
.logo-image {
    width: 98px; /* 设置图片宽度 */
    height: 98px; /* 设置图片高度 */
    margin-right: 10px; /* 设置图片右边距 */
    vertical-align: middle; /* 垂直居中对齐 */
}

/* 自定义 checkbox 的样式 */
.checkbox input[type="checkbox"] {
    /* 设置自定义大小 */
    width: 16px;
    height: 16px;
    /* 可能需要调整垂直对齐 */
    vertical-align: middle;
    /* 移除默认边框 */
    border:1px solid black;/*边框1像素,实线,黑色*/
    border-radius: 8px;
    /* 根据需要设置背景色 */
    background-color: rgba(255,255,255,0);
    /* 添加一些样式以区分未被选中的 checkbox */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    /* 根据需要设置外观 */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* 添加光标以表示可点击 */
    cursor: pointer;
}
/* 当 checkbox 被选中时改变样式 */
.checkbox input[type="checkbox"]:checked {
    /* 设置选中时的背景图 */
    background-image: url(../img/checkbox_checked.png);
}
/* 设置 span 的样式，以确保与 checkbox 对齐 */
.checkbox span {
    /* 添加一些左边距以与 checkbox 分开 */
    margin-left: 10px;
    /* 根据需要设置字体大小和行高 */
    font-size: 14px;
    line-height: 1.5;
}
/*同一水平上*/
.inline-elements {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin: 2px;
}
.matrix-button,
.sub-matrix-button,
.confirm-button,
.cancel-button,
.matrix-auto-button{
    padding: 0 0; /* 内边距 */
    margin: 0 2px; /* 外边距，用于在按钮之间添加间距 */
    border: none; /* 去除边框 */
    border-radius: 2px; /* 圆角 */
    background-color: rgba(255,255,255,0.4); /* 背景色 */
    color: black; /* 文字颜色 */
    text-align: center; /* 文字居中 */
    text-decoration: none; /* 去除下划线 */
    display: inline-block; /* 默认为 inline-block，但在 flex 容器内不需要 */
    font-size: 15px; /* 字体大小 */
}
.matrix-button{
    width: 64px;
    height: 32px;
}
.sub-matrix-button{
    width: 42px;
    height: 26px;
}
.matrix-auto-button{
    height: 20px;
}
.confirm-button{
    width: 36px;
    height: 24px;
}
.cancel-button{
    width: 36px;
    height: 24px;
}
.matrix-button:hover{
    background-color: #1eb1f3;
}
.sub-matrix-button:hover{
    background-color: #1eb1f3;
}
.matrix-auto-button:hover{
    background-color: #1eb1f3;
}
.confirm-button:hover{
    background-color: #1eb1f3;
}
.cancel-button:hover{
    background-color: #1eb1f3;
}

.matrix-button-notActive{
    background-color: rgba(255,255,255,0.4);
}
.matrix-button-active{
    background-color: #3d56ae;
}
.left-label{
    padding: 0;
    border: none;
    margin: 0 0 0 2px;
}

/**
*弹窗效果
*隐藏弹窗,直到需要显示时
 */
.modal {
    display: none; /*默认隐藏*/
    position: fixed;
    z-index: 1; /*最上层*/
    padding-top: 100px; /*位置*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /*如果需要,启用滚动*/
    background-color: rgb(0,0,0); /*背景色*/
    background-color: rgba(0,0,0,0.4);
}
/* 弹窗内容 */
.modal-body,
.modal-body-medium,
.modal-body-small{
    /*background-color: #fefefe;*/
    background: #d0f5ca;
    margin: auto;
    border: 1px solid #888;
    position: relative;
    top: 36%;
    transform: translateY(-50%); /*居中*/
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直居中 */
    justify-content: space-between; /* 上下两端对齐,close按钮在中间,confirm-btn在底部 */
    padding: 10px; /* 考虑到close按钮的位置,可能需要调整内边距 */
}
.modal-body{
    width: 80%; /*根据屏幕大小*/
    max-width: 800px; /*最大宽度*/
    height: 80%;
    max-height: 420px;
}
.modal-body-medium{
    width: 68%;
    max-width: 480px;
    height: 68%;
    max-height: 260px;
}
.modal-body-small{
    width: 50%;
    max-width: 400px;
    height: 50%;
    max-height: 210px;
}
.modal-body-main{
    flex: 1;
    width: 100%;
    padding: 10px 20px;
    /*background: #d0f5ca;*/
    background: none;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: space-between;*/
}
.modal-body-center-item{
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中(单行)*/
}
/* 弹窗关闭按钮 */
.modal-close{
    /*float: right;*/
    width: 22px;
    height: 22px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    line-height: 22px; /* 垂直居中单行文本 */
    text-align: center; /* 水平居中单行文本 */
    margin-left: auto; /* 将元素推送到右侧 */
}
.modal-foot{
    display: flex;
    justify-content: space-between; /* 让两个按钮分别位于左边和右边 */
    align-items: center; /* 如果需要垂直居中按钮 */
    padding: 10px; /* 为按钮添加一些内边距 */
    width: 100%; /* 确保底部栏占据整个modal-body的宽度 */
}
.confirm{
    align-self: flex-start; /* 水平方向上对齐到右下角 */
    margin-top: auto; /*使用margin-top: auto将按钮推到容器底部 */
}
.cancel{
    align-self: flex-end;
    margin-top: auto;
}
.foot-center-btn{
    /*align-self:center;*/
    margin-top: auto;
}
.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*表格样式*/
.data-table-view {
    width: 100%; /* 确保表格宽度占满容器 */
    border-collapse: collapse; /* 合并相邻的边框 */
}

.data-table-view th,
.data-table-view td {
    padding: 8px; /* 单元格内边距 */
    text-align: center; /* 文本左对齐 */
    border-bottom: 1px solid #a9a9a9; /* 底部边框 */
    color: black;
}

/*文字效果*/
.default-text{
    color: black;
}
.blue-text{
    color: #06b9ee;
}
.primary-text{
    color: lightblue;
}
.success-text{
    color: #7df566;
}
.danger-text{
    color: orangered;
}
.warn-text{
    color: orange;
}
.center-text{
    text-align: center;
}
.center-item{
    /*父布局必须为display:flex;*/
    align-items: center;
}
.small-text{
    font-size: small;
}
.medium-text{
    font-size: medium;
}
.large-text{
    font-size: large;
}
.bold-text{
    font-weight: bold;
}